<app-header/>

<main class="container mt-5">

  <h1>Collectibles & Interactive Toys</h1>

  <!-- finger links -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>EcoNova</h2>
      <h3>Grow. Glow. Explore the Marvels of Nature!</h3>
      <p>
        EcoNova is here to spark a generation of nature-loving adventurers! This groundbreaking toy takes kids on a magical journey of revealing seed germination and environmental discovery. With its interactive tasks, light-up missions, and flying adventures, EcoNova bridges the gap between nature and technology, teaching kids the importance of nurturing the planet while having fun. Kids can plant seeds, care for them, and watch their growth transform into a wondrous flying experience!
      </p>
      <a routerLink="/econova" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/product-img/econova-1.png" alt="Fingerlings Baby Monkeys">
    </div>
  </section>

  <hr>

  <!-- avastars -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>MY AVASTARS</h2>
      <p>
        The Ultimate Customizable Avatar Doll! Mix & match clothing items, face stickers, tattoo stickers, and clothing decals to make your My Avastars Fashion Doll unique to you!
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/avatars.png" alt="Avatars">
    </div>
  </section>

  <hr>

  <!-- fairy -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>GOT2GLOW FAIRY FINDER</h2>
      <p>
        Discover the magic all around you with Got2Glow Fairy Finders - including the all-new Got2Glow Baby Fairy Finder and Got2Glow Fairy Pet Finder. Find fairies wherever you are & grow your collection by trading with friends - will you find them all?
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/fairy.png" alt="Fairy">
    </div>
  </section>

  <hr>

  <!-- fashion -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>FASHION FIDGETS</h2>
      <p>
        Fashion Fidgets are dolls styled & accessorized in totally cute ‘fits that double as fidget toys! Each Fashion Fidgets doll has at least 3 fidget features; rare dolls have over 4! Will your fidget doll pop, twist, pull or spin?! With over 18 dolls to collect in Series 1, the fidget fun never ends! Shop now at Walmart.com!
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/fashion.jpg" alt="Fairy">
    </div>
  </section>

  <hr>

  <!-- twilight -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>Twilight Daycare Babies</h2>
      <p>
        Bring the fun of the hit online game home with Twilight Daycare Collectible Babies from WowWee! You can also bring the fun back online! Each doll comes with a code compatible with the Twilight Daycare game.
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/twilight.png" alt="Twilight">
    </div>
  </section>

  <hr>

  <!-- squishy -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>My Squishy Little</h2>
      <p>
        Introducing My Squishy Little Dumplings from WowWee. These adorable little interactive characters have BIG personalities, and the cutest accessories to match! Squeeze their cheeks to pop out their unique personalities!
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/squashy.png" alt="Twilight">
    </div>
  </section>

  <hr>

  <!-- party -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>Party Surprise
      </h2>
      <p>
        Unwrap the party with all-new Party Surprise from WowWee! Reveal 10+ surprises in each of the 6 different party themes, and throw the party of your dreams!
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/party.png" alt="Twilight">
    </div>
  </section>

  <hr>

  <!-- fortune -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>Lucky Fortune
      </h2>
      <p>
        Surprise Lucky Fortune charm bracelets come with a matching paper fortune, inside a fun toy fortune-cookie-shaped package. Crack yours open to find out what's inside!
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/fortune.png" alt="Twilight">
    </div>
  </section>

  <hr>

  <!-- pet -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>Pet Starz
      </h2>
      <p>
        Any mini performer who loves to laugh, sing, and dance to the beat, has just found their new favorite co-star with the all-new Pet Starz from WowWee!
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/pet.png" alt="Twilight">
    </div>
  </section>

  <hr>
  <!-- prima -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>Prima.Sugarinas
      </h2>
      <p>
        New from WowWee, Prima Sugarinas are spinning, sweetly scented ballerinas that kids won’t want to put down! Sugarinas are adorable spinning dancers that reveal their category, scent, and unique candy-inspired skirt when you pull apart their colorful candy shells. There are 25 different dancers to collect including the Ultra Rare Prima Sugarina.
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/prima.png" alt="Twilight">
    </div>
  </section>

  <hr>

  <!-- swak -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>SWAK
      </h2>
      <p>
        Here’s to more love and friendship coming your way! Introducing S.W.A.K.™ (Sealed with a Kiss) from WowWee, the kissable keychain that makes it easy to give—and get—a little more MWAH!
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/swak.png" alt="Twilight">
    </div>
  </section>

  <hr>

  <!-- untamed -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>UNTAMED
      </h2>
      <p>
        These finger-gripping creatures are fierce and unpredictable, and know friends vs. foes. In untamed mode, they roar, hiss and chomp! In tame mode they nuzzle, purr and love to be near you. Complete with snapping jaws and gripping claws, these interactive dinos react to touch, motion, and sound with over 40 different sounds and animations.
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/untamed.png" alt="Twilight">
    </div>
  </section>

  <hr>

  <!-- butt -->
  <section class="product-highlight">
    <div class="product-info">
      <h2>BUTTHEADS
      </h2>
      <p>
        BUTTHEADS! Their heads are BUTTS! A Ghastly Group who love to let it rip.
      </p>
      <a href="#" class="learn-more-btn">LEARN MORE</a>
    </div>
    <div class="product-image">
      <img src="/assets/img/butt.png" alt="Twilight">
    </div>
  </section>

  <hr>


</main>
<app-footer/>
