<app-header id="header"/>

<section id="main-bg-image-section" class="image-bg-section">

</section>

<section id="navigation-section">
  <div class="sub-navigation-bar sub-navigation-bar--product-detail">
    <nav class="container">
      <div class="InlineBlock">
        <a (click)="scrollToSection('perfect-pets-section')" class="sub-navigation-bar__item">Overview</a>
        <a (click)="scrollToSection('video-section')" class="sub-navigation-bar__item">Video</a>
        <a (click)="scrollToSection('kid-image-section')" class="sub-navigation-bar__item hide-on-mobile">Photo Gallery</a>
        <a (click)="scrollToSection('main-bg-image-section')" class="sub-navigation-bar__item">Getting Started</a>
      </div>
    </nav>
  </div>
</section>

<section id="perfect-pets-section" class="image-bg-section">

</section>

<section id="video-section" class="image-bg-section">
  <video controls autoplay muted loop width="100%">
    <source src="/assets/img/product-img/product-video.mp4" type="video/mp4">
<!--    <source src="path-to-your-video.webm" type="video/webm">-->
    <!-- Optional: Add a fallback message for unsupported browsers -->
    Your browser does not support the video tag.
  </video>
</section>

<section id="kid-image-section">
  <div class="d-flex gap-2 align-items-center justify-content-evenly p-2">
    <div id="kid-1" class="kid-image-div"></div>
    <div id="kid-2" class="kid-image-div"></div>
    <div id="kid-3" class="kid-image-div"></div>
    <div id="kid-4" class="kid-image-div"></div>
  </div>
</section>
<app-footer/>
